<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.wolink.android.apis"
      android:installLocation="auto"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ApiWoDemos"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- media sample -->
        <activity android:name=".media.SoundPoolDemo" android:label="Media/SoundPool">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        <activity android:name=".media.FeedBackDemo" android:label="Media/FeedBack">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- graphic sample -->
        <activity android:name=".graphic.ScreenShot" android:label="Graphic/ScreenShot">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        <activity android:name=".graphic.GroupIconDemo" android:label="Graphic/GroupIconDemo">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        <activity-alias android:name=".graphic.CreateShortcuts"
            android:targetActivity=".graphic.GroupIconDemo"
            android:label="Create Group Shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity-alias>
        
        <!-- web sample -->
        <activity android:name=".web.WebViewDemo" android:label="Web/WebViewDemo">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>

		<!-- touch sample -->
        <activity android:name=".touch.MultiTouchDemo" android:label="Touch/MultiTouch">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>

		<!-- service sample -->
        <activity android:name=".service.ServiceDemoActivity" android:label="Service/ServiceDemo">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="org.wolink.android.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        <activity android:name=".service.ServiceDemoActivity2" android:label="Service/ServiceDemo" />
        <service android:name=".service.DemoService" android:exported="true" />      
            
    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 